nav 
{
    background-color: rgb(52, 51, 54);
    overflow: hidden;               
    margin: 0;
    padding: 0;
    border-radius: 10px;
}



.topnav li               
{
    list-style: none;           
    float: left;                
}




.topnav li a
{
    display: block;
    text-decoration: none;             
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}


.topnav li a:hover                    /*to highlight a link when our arrow is on it*/
{
    background-color: rgb(164, 207, 243);
    color: black;
}



.topnav li.dropdownIcon
{
    display: none;                    
}


/* ----------------------------------------------------------------------------------------------- */


article
{
    padding: 1%; 
    font-size: 15px; 
    background-color: rgb(164, 207, 243); 
    border-radius: 10px;
    margin: 1%;;
}

/* ----------------------------------------------------------------------------------------------- */

.image
{
    width: 30%;
    margin: 1%;
}


/* ------------------------------------------------------------------------------------------------- */
.form-container{
    display: block;
    margin: auto;
    background-color: #a6c4cc;
    border-radius: 5px ;
    width: 80%;
    align-items: center;
    border : 2px solid #4c8899;
    padding: 1%;
}
.form-header h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    text-align: center;
    margin-left: 2%;
    font-weight: 600;
}
.form-item{
    padding: 5px 10px 5px 10px;
    width: 100%;
    

}
.form-item label{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    width: 100%;
    padding: 5px 10px 5px 10px;
    float:left;
}
.form-item input, textarea{
    display: block;
    width: 90%;
    padding: 11px 10px 11px 10px;
    border: 2px solid #f0f0f082;
    border-radius: 4px;
   
    

}
.form button{
    padding: 12px;
    width: 90%;
    margin: 20px 0px 20px 35px;
    
    border-radius: 4px;
    border: 1px solid #f0f0f082;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

    background-color:#2b6777;
}



@media screen and (max-width: 680px)                                    /*@media screen -----> detects the screen*/    /*680px ---> optimal solution*/
{
    .topnav li:not(:nth-child(1))                                     /*Here, we want to hide all the navigation links EXCEPT HOME (1st link). So, we use not operator*/
    {
        display: none;
    }

    .topnav li.dropdownIcon
    {
        display:block;
        float: right;
    }

    .topnav.responsive  li.dropdownIcon
    {
        position: absolute;                                         /*to make sure the icon stays in place even after the dropdown menu is activated*/
        top:0;
        right: 50%;
    }

    .topnav.responsive 
    {
        position: relative;
    }


    .topnav.responsive li
    {
        display: inline;
        float: none;                /*initially, the elements float to left. However, we do not need them to float left in mobile view. So, float property is overwritten*/
    }


    .topnav.responsive li a
    {
        display: block;
        text-align: left;
    }


    .image
    {
        width: 100%;
    }
}